.banner {
    position: relative;
    width: 708px;
    margin: 0 auto;
}
.banner .title {
    height: 31px;
    line-height: 31px;
    overflow: hidden; 
}
.banner .title h4 {
    float: left;
    color: #333;
    font-size: 14px;
    font-family: '\5fae\8f6f\96c5\9ed1'; 
}
.banner .title ul {
    float: right;
    margin-top: 10px; 
}
.banner .title li {
    float: left;
    cursor: pointer;
    display: inline;
    width: 10px;
    height: 10px;
    line-height: 0;
    margin-left: 2px;
    overflow: hidden;
    background-color: #e4e4e4;
    text-indent: 100px;
}
.banner .title li.cur, .index-menu .banner .title li a:hover {
    background-color: #ff8400; 
}
.banner-pic {
    position: relative;
    width: 100%;
    height: 265px;
    overflow: hidden; 
}
.banner-pic ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%; 
}
.banner-pic li {
    float: left;
    width: 341px;
    height: 263px;
    margin-right: 22px;
    border: 1px solid #c9c9c9; 
}
.banner-pic a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
}
.banner-pic a:hover {
    text-decoration: none; 
}
.banner-pic img {
    width: 100%;
    height: 228px;
    vertical-align: top; 
}
.banner-pic .pic-title {
    position: relative;
    height: 35px;
    padding: 0 5px 0 15px;
    line-height: 35px;
    color: #333;
    font-size: 14px;
    font-family: '\5fae\8f6f\96c5\9ed1';
    background-color: #e4e4e4; 
}
.banner-pic .pic-title span {
    position: absolute;
    width: 112px;
    padding-left: 26px;
    padding-right: 5px;
    right: 0;
    top: 0;
    color: #e4393c;
    font-size: 20px;
    font-family: verdana;
    text-align: right;
    background: #f2f2f2 url(i/titlebg.png) 0 1px no-repeat;
    overflow: hidden; 
}
.btn-prev, .btn-next {
    position: absolute;
    width: 11px;
    height: 22px;
    left: -12px;
    top: 150px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(i/sprite_index-menu.png) -2px 0 no-repeat;background-position:-2px -136px; }
.btn-next {
    left: auto;
    right: -12px;
    _right: 2px;
    background: url(i/sprite_index-menu.png) 0 0 no-repeat;background-position:0px -168px; 
}

