
/* 2014-05-27 14: 50: 23 yfwangxiaodan@jd.com*/
    #logo-tuan a.link1,#logo-tuan a.link2,.sort .titleicon,.hot-tuijian .item strong,.root61 .dog-menu .dog-bg,.nav-menulist .posr b,#navitems-2013 li.fore3 b,ul.brand li.fore1 .p-price,ul.brand li.fore2 .p-price,ul.brand li.brandnew .right,#service dl b,#sinawb,#txwb,#sohuwb,.p-detail .p-duihuan .num .reduce,.p-detail .p-duihuan .num .add,#navitems-2013 .sx a,#navitems-2013 .sx a: hover {
    background-image: url(ic.png);
    _background-image: url(i/ic8.png);
    background-repeat: no-repeat
}
.nav-menulist .posr b,#navitems-2013 li.fore3 b {
    background-position: -30px -534px
}
ul.brand li.brandnew {
    border-width: 1px;
    height: 325px
}
.brand li .p-name {
    width: 275px
}
.brand li .p-name .free,.p-name .title-txt a .free,.zero .p-name a .free {
    color: #fff;
    background: #3398FF;
    border-radius: 2px;
    font-style: normal;
    padding: 0 2px;
    font-family: simsun;
    font-size: 12px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 3px;
    float: left;
    margin-top: 2px
}
.zero .p-name a .free {
    float: none
}
.p-name .title-txt a .free {
    margin-top: 4px
}
.brand li .p-price span.size {
    _margin-top: 5px
}
.brand li .p-price span.size-small {
    font-size: 21px;
    *zoom: 1;
    _margin-top: 10px
}
#mscroll-list .brand li .p-price span.size-small {
    font-size: 22px
}
#search-2013 {
    padding: 12px 35px 0 0
}
.root61 #search-2013 {
    padding: 12px 35px 0 0
}
#logo-tuan {
    width: 267px;
    float: left;
    height: 60px;
    margin: 0 15px 0 0
}
#logo-tuan a.link1 {
    background-position: 0 0;
    width: 97px;
    height: 40px;
    float: left;
    margin-top: 6px
}
#logo-tuan a.link2 {
    background-position: 0 -50px;
    width: 170px;
    height: 47px;
    float: left;
    margin-top: 5px
}
#guides {
    height: 20px;
    width: 133px;
    float: left;
    margin-top: 22px
}
#guides .city {
    height: 20px;
    line-height: 20px;
    position: relative;
    float: left;
    background: #e4393c
}
#guides h2 {
    text-align: center;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    font-family: "microsoft yahei",arial,sans-serif;
    line-height: 20px
}
#guides a,#guides a: hover {
    padding: 0 4px 0 0;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    float: left;
    background: #e4393c
}
#warcry {
    position: absolute;
    z-index: -1;
    top: 54px;
    height: 30px;
    font: 400 12px/30px '';
    left: 4px;
    width: 100px;
    color: #999
}
#mytuan {
    padding-left: 32px;
    line-height: 32px;
    width: 70px;
    height: 32px;
    background: url(http: //misc.360buyimg.com/lib/skin/2013/i/20130330A_1.png) -116px -24px no-repeat #f7f7f7;
    border: 1px solid #efefef;
    float: left;
    margin: 15px 0 0 10px;
    cursor: pointer
}
#check-succ {
    line-height: 32px;
    width: 92px;
    height: 32px;
    background: #f7f7f7;
    border: 1px solid #efefef;
    float: left;
    margin: 15px 0 0;
    text-align: center;
    color: #ccc
}
#checkin {
    background: url(i/gift-bg.jpg) no-repeat 5px center #F7F7F7;
    border: 1px solid #EFEFEF;
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-top: 15px;
    padding-left: 32px;
    width: 60px;
    cursor: pointer
}
.regist-wrap {
    float: right;
    position: relative;
    z-index: 7
}
.regist {
    width: 223px;
    height: 32px;
    background: #fff;
    padding-left: 5px;
    padding: 10px 0 0 10px;
    background: url(i/regist2.png) no-repeat;
    position: absolute;
    left: -5px;
    top: 54px;
    z-index: 10;
    display: none
}
.regist a {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 16px
}
#service {
    padding: 10px 20px;
    background: #FFF;
    border-style: solid;
    border-width: 1px 0;
    border-color: #ddd #fff #f1f1f1;
    border-radius: 0;
    width: 950px;
    margin: 0 auto 20px;
    overflow: hidden
}
#service dl {
    float: left;
    width: 188px
}
#service dt {
    position: relative;
    padding: 6px 0 6px 44px;
    font: 14px "microsoft yahei";
    zoom: 1
}
#service dt b {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px
}
#service dd {
    min-height: 100px;
    padding-left: 24px;
    margin-left: 20px;
    line-height: 20px;
    background: 0 0;
    _height: 100px
}
#service .fr {
    display: none
}
#service dl.fore1 b {
    background-position: -195px -402px
}
#service dl.fore2 b {
    background-position: -195px -442px
}
#service dl.fore3 b {
    background-position: -195px -482px
}
#service dl.fore4 b {
    background-position: -195px -522px
}
#service dl.fore5 b {
    background-position: -195px -562px
}
#service dl.fore5 {
    width: 188px
}
*html #service dd {
    height: 120px
}
#sinawb,#txwb,#sohuwb {
    height: 20px;
    width: 110px;
    float: left;
    padding-left: 20px;
    cursor: pointer
}
#sinawb {
    background-position: -232px -37px
}
#txwb {
    background-position: -232px -58px
}
#sohuwb {
    background-position: -232px -79px
}
#dingyue {
    position: relative;
    float: left;
    margin-top: 6px;
    width: 164px;
    height: 22px
}
#dingyue input {
    border: 0;
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 12px
}
#dingyue .text {
    width: 100px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d8d8d8;
    float: left;
    color: #999
}
#dingyue .button {
    width: 50px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 0 0 0 5px;
    color: #fff;
    background: #7bbc54;
    background: -webkit-gradient(linear,left top,left bottom,from(#85c360),to(#70b54b));
    background: -webkit-linear-gradient(top,#85c360,#70b54b);
    background: -moz-linear-gradient(top,#85c360,#70b54b);
    background: -o-linear-gradient(top,#85c360,#70b54b);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
#dingyue .dingyue-prompt {
    border: 1px solid #C2A4A4;
    background: #FEE9E8;
    color: #A31112;
    position: absolute;
    padding: 2px 0;
    text-align: center;
    top: 20px;
    width: 96px;
    left: 0
}
.layer {
    display: none;
    position: absolute;
    z-index: 100;
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #FFF;
    box-shadow: 2px 2px 2px #dbdfe0
}
.layer .shut {
    float: right;
    width: 21px;
    height: 21px;
    background: url(i/shut.jpg) no-repeat;
    text-indent: -99999em;
    cursor: pointer
}
.layer .shut: hover {
    background: url(i/shut.jpg) no-repeat 0 -25px
}
.layer h2 {
    font-size: 12px;
    color: #323232
}
.layer .city a {
    padding: 3px 5px;
    text-align: left;
    display: inline-block;
    margin-bottom: 4px
}
.layer a: hover {
    background: #e63a36;
    color: #fff;
    text-decoration: none
}
.layer p {
    clear: both;
    padding-top: 5px;
    color: #999
}
.layer .city {
    width: 440px
}
.content-wrap {
    background: #fbfbfb
}
div.section {
    padding-top: 20px;
    width: 990px;
    overflow: hidden;
    margin: 0
}
.section h3.title {
    padding-bottom: 6px;
    border-bottom: 0;
    color: #666;
    font-size: 18px;
    font-family: "\5fae\8f6f\96c5\9ed1";
    border-bottom: 2px solid #acacac
}
.p-section {
    padding: 27px 31px 0;
    margin-right: 1px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #fff #dfdede #dfdede;
    overflow: hidden;
    background: #fff
}
#mscroll-list .p-section {
    border: 0;
    height: 234px
}
.p-section .product {
    margin: 0 15px
}
.product {
    float: left;
    _display: inline;
    position: relative;
    cursor: pointer
}
.product .p-name {
    width: 278px
}
.mask {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#4C000000', endColorstr='#4C000000');
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 278px;
    height: 185px
}
.catefixed {
    position: fixed;
    top: 0;
    z-index: 100;
    -position: absolute;
    -top: expression(eval(document.documentElement.scrollTop))
}
.ie6_narrow_catefixed {
    position: fixed;
    top: 0;
    z-index: 100;
    -position: absolute;
    -top: expression(eval(document.documentElement.scrollTop-170))
}
#menu_city {
    background: none repeat scroll 0 0 #FFFDEE;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    box-shadow: 0 0 0 3px rgba(0,0,0,.15);
    position: absolute;
    left: 265px;
    top: 45px;
    width: 820px;
    height: auto;
    z-index: 9;
    background: #fff;
    display: none
}
#menu_city .title {
    width: 820px;
    height: 30px;
    background: url(i/tuan7.bg.png) 0 -490px;
    float: left;
    padding: 21px 0 16px
}
#menu_city .title .text {
    height: 30px;
    width: 287px;
    line-height: 30px;
    float: left;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    padding-right: 10px
}
#menu_city .title .inp {
    width: 220px;
    height: 30px;
    background: url(i/tuan7.bg.png) 0 -586px no-repeat;
    float: left
}
.inptext {
    width: 154px;
    height: 27px;
    padding-left: 5px;
    line-height: 30px;
    color: #999;
    float: left;
    border: 0;
    background: 0 0;
    font-size: 14px
}
.inpbut {
    width: 60px;
    height: 30px;
    line-height: 28px;
    color: #343233;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    background: 0 0
}
#menu_city .con {
    width: 800px;
    height: auto;
    padding: 15px 10px;
    float: left
}
#menu_city .con .mt {
    width: 774px;
    height: 29px;
    padding: 0 13px;
    background: url(i/tuan7.bg.png) 0 -557px
}
#menu_city .con .mt ul {
    width: 624px;
    height: 29px
}
#menu_city .con .mt li,#menu_city .con .mt li.ono {
    width: 104px;
    height: 29px;
    display: block;
    float: left;
    line-height: 29px;
    font-family: Verdana;
    font-size: 19px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #424242
}
#menu_city .con .mt li.ono {
    background: url(i/tuan7.bg.png) -166px -380px;
    color: #ff6504
}
#menu_city .con .mc {
    width: 800px;
    height: auto;
    padding-top: 17px
}
#menu_city .con .mc .team {
    width: 800px;
    height: auto;
    float: left;
    padding-bottom: 15px
}
#menu_city .con .mc .team h1 {
    width: 25px;
    height: 25px;
    border: 1px solid #d5d5d5;
    background: #efefef;
    float: left;
    line-height: 25px;
    text-align: center;
    padding: 0;
    font-family: Verdana;
    font-size: 19px;
    font-weight: 400
}
#menu_city .con .mc .team ul {
    width: 750px;
    height: auto;
    padding-top: 4px;
    float: left
}
#menu_city .con .mc .team ul span {
    padding-left: 12px
}
#menu_city .con .mc .team ul a span {
    padding-left: 0
}
#menu_city .con .mc .team ul li {
    cursor: pointer;
    display: inline;
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0 10px 0 5px;
    white-space: nowrap;
    position: relative
}
#menu_city .con .mc .team ul li a,#menu_city .con .mc .team ul li a: hover {
    display: block;
    float: left;
    line-height: 17px;
    padding: 1px 8px;
    white-space: nowrap;
    color: #333
}
#menu_city .con .mc .team ul li a: hover,#menu_city .con .mc .team ul li a: hover span {
    background: #fd6a00;
    color: #fff;
    text-decoration: none
}
.pb {
    position: absolute
}
.pb b {
    position: absolute;
    left: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border: 10px dashed transparent
}
.pb .b1 {
    z-index: 1
}
.pb .b2 {
    z-index: 2
}
.pb b.b3 {
    border-width: 12px;
    z-index: 0;
    display: none\9
}
.pb-t {
    top: -20px;
    left: 288px
}
*html .pb-t {
    right: -1px
}
.pb-t b {
    border-bottom-style: solid
}
.pb-t .b1 {
    bottom: -20px;
    left: 5px;
    border-bottom-color: #c4c4c4;
    border-width: 11px
}
.pb-t .b2 {
    bottom: -20px;
    left: 6px;
    border-bottom-color: #FFFDEE
}
.pb-t .b3 {
    top: -7px;
    left: 4px;
    border-bottom-color: #d9d9d9
}
.pb-p {
    top: -20px;
    left: 180px
}
*html .pb-p {
    right: -1px
}
.pb-p b {
    border-bottom-style: solid
}
.pb-p .b1 {
    bottom: -20px;
    left: 5px;
    border-bottom-color: #c4c4c4;
    border-width: 11px
}
.pb-p .b2 {
    bottom: -20px;
    left: 6px;
    border-bottom-color: #FFFDEE
}
.pb-p .b3 {
    top: -7px;
    left: 4px;
    border-bottom-color: #d9d9d9
}
.brand li .warm {
    position: absolute;
    color: #FFF;
    font-size: 14px;
    height: 61px;
    left: 128px;
    padding: 28px 0 0;
    position: absolute;
    top: 73px;
    width: 89px;
    text-align: center;
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0,0,0,.5);
    border-radius: 50%
}
.crumbs {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 0 4px 6px;
    vertical-align: baseline
}
.crumbs strong {
    display: inline;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px
}
.crumbs strong a {
    font-size: 20px
}
.crumbs a {
    color: #333
}
.crumbs a: hover {
    color: #333
}
.crumbs span {
    font-family: "\5b8b\4f53"
}
.tomorr-nohref: hover {
    color: #333;
    text-decoration: none;
    cursor: default
}
#shantuan-cont .erwei {
    display: block;
    background: url(i/shantuan.jpg) no-repeat;
    width: 98px;
    height: 147px;
    margin-right: 50px;
    cursor: pointer;
    text-align: center;
    color: #000;
    overflow: Hidden
}
#shantuan-cont .shantuan-close {
    background: url(i/shantuan-shut.jpg) no-repeat;
    width: 12px;
    height: 13px;
    display: block;
    position: absolute;
    top: 0;
    left: 98px;
    cursor: pointer
}
#shantuan-cont .erwei .top-text {
    margin: 10px 0 95px
}
#categorys-2013 .mt a: hover {
    text-decoration: none;
    cursor: default
}
.item-wrap .item {
    background: #fff
}
.product2 {
    background: #fff
}
ul.brand li {
    height: 325px;
    z-index: 5;
    margin: 0 10px 10px 0
}
ul.brand li.current {
    height: 321px
}
ul.brand li .p-img {
    *zoom: 1;
    position: relative;
    margin: 0 auto;
    width: 277px;
    padding-top: 20px
}
ul.brand li.fore1 .p-img,ul.brand li.fore2 .p-img {
    padding-top: 0
}
ul.brand li .p-price {
    margin: 10px 20px 0;
    height: 40px;
    _margin: 2px 20px 0
}
ul.brand li.fore1 .p-img,ul.brand li.fore2 .p-img {
    margin: 0;
    width: 340px;
    _width: auto
}
ul.brand li.fore1 .p-name,ul.brand li.fore2 .p-name {
    width: 148px;
    height: 110px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0
}
ul.brand li.fore1 .p-price,ul.brand li.fore2 .p-price {
    width: 148px;
    height: 106px;
    line-height: 106px;
    text-align: center;
    color: #E4393C;
    font-family: Verdana;
    font-size: 36px;
    margin: 0;
    font-weight: 700;
    position: absolute;
    top: 120px;
    right: 0
}
.brand-wrap ul.brand li.fore1 .p-img,.brand-wrap ul.brand li.fore2 .p-img {
    *padding-top: 0
}
.brand-wrap ul.brand li .p-name a {
    height: 42px;
    display: block;
    overflow: hidden;
    color: #666
}
.e-content {
    background: #fff
}
.tabcon {
    background: #fff;
    overflow: hidden
}
#promises {
    background: #fff;
    padding: 20px
}
#promises a {
    float: none
}
#state {
    background: #fff;
    padding: 0 20px 20px
}
#comment {
    background: #fff
}
.brand-sink .p-price span {
    position: absolute;
    right: 16px;
    top: 6px
}
.brand-sink div.p-price {
    padding: 0 50px 0 10px;
    width: 50px;
    top: -3px
}
.left-extra .tab .tabcon {
    padding: 5px
}
.left-extra .tab .tabcon img {
    width: 100%;
    margin: 0 auto
}
.left-extra .tab .tabcon table {
    width: 100%;
    table-layout: auto
}
.cityl {
    list-style: none;
    width: 72px;
    margin-top: 5px;
    float: left
}
.layer .cityl a {
    display: inline;
    margin: 0
}
.brand li .p-price .size {
    font-size: 36px;
    display: inline-block;
    height: 35px;
    line-height: 35px
}
.tab .tabcon table td a {
    float: none
}
.e-content .e-extra .p-time p {
    background: url(i/a-bg.png) no-repeat 36px -145px
}
.item-wrap .item div.p-tags li {
    font-family: "\5b8b\4f53"
}
.brand li .p-name p.brand-name {
    width: 148px
}
.formwork_bt {
    overflow: hidden;
    width: 753px;
    padding: 10px 0;
    line-height: 23px;
    text-align: left;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif
}
.formwork_bt_dz,.formwork_bt_rb,.formwork_bt_it,.formwork_bt_top {
    width: 750px;
    height: 43px;
    background-image: url(i/bg2012031601.jpg);
    background-repeat: no-repeat
}
.formwork_bt_rb {
    background-position: 0 -90px
}
.formwork_bt_dz span,.formwork_bt_rb span,.formwork_bt_it span,.formwork_bt_top span {
    float: left;
    padding-left: 34px;
    line-height: 25px;
    font-family: "microsoft yahei";
    font-size: 14px
}
.formwork_bt_rb span.s2 {
    color: #666;
    padding-left: 10px;
    line-height: 25px;
    padding-top: 16px;
    font-size: 12px
}
.formwork_bt_rb span {
    font-size: 18px;
    color: #C90014;
    padding-left: 2px;
    padding-top: 12px
}
.formwork_bt_dz {
    background-position: 0 0
}
.formwork_bt_dz span {
    color: #fff;
    padding-top: 12px
}
.formwork_bt_dz span.s2 {
    padding: 12px 0 0
}
li.product .p-img {
    padding: 0;
    position: relative;
    width: 277px;
    height: 185px
}
div.product .p-img {
    position: relative
}
.product .href-wrap {
    width: 277px;
    height: 235px
}
.product .p-name .tomorr-nohref {
    position: relative;
    z-index: 6;
    display: block;
    width: 277px;
    height: 45px;
    overflow: hidden;
    line-height: 45px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: center;
    color: #666;
    font-size: 14px;
    font-family: "\5fae\8f6f\96c5\9ed1"
}
li.product .p-img .warm,li.product .p-img .warm2,li.product .p-img .soldout {
    position: absolute;
    padding: 30px 25px 0;
    width: 40px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -45px;
    text-align: center
}
.content-wrap .p-img span.warm,.content-wrap .p-img span.warm2,.content-wrap .p-img span.soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    _top: 110px;
    _left: 140px;
    margin: -45px 0 0 -45px;
    width: 40px;
    height: 60px;
    padding: 30px 25px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: url(i/c1-24.png) no-repeat;
    cursor: pointer;
    border-radius: 0;
    filter: none;
    _background: url(i/c1-8.png) no-repeat;
    text-align: center
}
li.product div.p-img span.warm,li.product div.p-img span.warm2,li.product div.p-img span.soldout {
    _top: 90px
}
.content-wrap .product2 .p-img span.warm,.content-wrap .product2 .p-img span.warm2,.content-wrap .product2 .p-img span.soldout {
    _top: 150px;
    _left: 230px
}
div.item-wrap .item span.warm,div.item-wrap .item span.warm2,div.item-wrap .item span.soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -45px;
    width: 40px;
    height: 60px;
    padding: 30px 25px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: url(i/c1-24.png) no-repeat;
    cursor: pointer;
    border-radius: 0;
    filter: none;
    _background: url(i/c1-8.png) no-repeat;
    text-align: center
}
.content-wrap div.p-img span.warm2 {
    z-index: 3;
    background: url(i/c2-24.png) no-repeat;
    _background: url(i/c2-8.png) no-repeat
}
.content-wrap div.p-img span.soldout {
    padding: 30px 0 0;
    text-align: center;
    width: 90px
}
li.product div.p-img .soldout {
    padding: 30px 0 0;
    text-align: center;
    width: 90px
}
div.item-wrap div.item span.soldout {
    padding: 30px 0 0;
    text-align: center;
    width: 90px
}
div.item-wrap .item .p-img {
    position: relative
}
.e-extra a.tuan3: hover {
    color: #ccc;
    cursor: default
}
.e-content .e-extra .p-time p.bg-none {
    background: 0 0
}
div.crumbs {
    margin: 0 auto;
    padding: 10px 0 10px 6px;
    height: 20px;
    line-height: 20px
}
.e-extra .tuan strong {
    font-family: microsoft yahei
}
.sort .fenlei: hover {
    text-decoration: none;
    color: #666
}
.content .sort span.p-extra a: hover {
    color: #E4393C;
    text-decoration: underline
}
.brand-wrap ul.brand li.fore1 img,.brand-wrap ul.brand li.fore2 img {
    width: 488px;
    height: 226px
}
.brand-wrap ul.brand li.fore1 .p-img img,.brand-wrap ul.brand li.fore2 .p-img img {
    width: 340px;
    height: 226px
}
.brand-wrap ul.brand li.fore1 .p-name img,.brand-wrap ul.brand li.fore2 .p-name img {
    width: 90px;
    height: 90px
}
.brand-sink div.pph-logo {
    width: 144px;
    padding: 20px 0 30px
}
.brand-sink .pph-logo div.text {
    width: 144px
}
.brand-sink div.pph-logo img {
    margin-left: 21px
}
.brand-wrap ul.pinpai li.curr {
    height: 226px;
    border-bottom: 1px solid #e33b3d
}
a.href-wrap {
    display: block;
    width: 321px;
    height: 325px;
    overflow: hidden;
    *zoom: 1;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: url(i/giftu.gif) repeat;
    cursor: pointer
}
span.kong {
    width: 100%;
    height: 0;
    font-size: 0
}
.item a.href-wrap {
    width: 484px;
    height: 504px
}
.product2 a.href-wrap {
    width: 484px;
    height: 474px
}
.product2 .p-price {
    width: 424px
}
.item .p-worth .t-r {
    color: #666
}
li.fore1 .href-wrap,li.fore2 .href-wrap {
    width: 490px;
    height: 228px
}
li.current .href-wrap {
    height: 321px
}
.href-wrap: hover {
    text-decoration: none
}
table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word
}
.controls {
    height: 40px;
    line-height: 21px;
    overflow: hidden;
    margin-top: -2px
}
div.p-list th {
    border-left: 0
}
div.p-list table {
    background: #fff;
    _margin-left: -2px
}
.menu-m .empty a.qblp {
    font-weight: 400;
    text-decoration: underline
}
.brand li {
    transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s
}
.brand li .time {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s
}
.con-wrap {
    position: relative;
    height: 250px;
    width: 100%;
    background: #fbfbfb
}
#g-scroll {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: url(http: //misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) no-repeat center
}
#g-scroll ul {
    position: relative;
    height: 252px;
    overflow: hidden
}
#g-scroll ul li {
    height: 252px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    display: table
}
#g-scroll .slide-banner {
    position: relative
}
#g-scroll .slide-link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 252px
}
#g-scroll .slide-banner a {
    width: 990px
}
#g-scroll .slide-controls {
    position: relative;
    text-align: right;
    height: 22px;
    padding: 4px 10px;
    top: -33px;
    width: 970px
}
#g-scroll .controls-inner {
    }
.slide-controls span {
    display: inline-block;
    background: #999;
    text-align: center;
    cursor: default;
    color: #fff;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px
}
div#g-scroll .slide-controls span {
    margin: 0 2px
}
#g-scroll .slide-controls span {
    width: 22px;
    height: 22px;
    line-height: 22px;
    background-color: #776c67
}
#g-scroll .slide-controls .curr {
    background-color: #e4393c
}
.brand li div.p-name {
    font-family: microsoft yahei;
    line-height: 21px;
    margin: 10px 22px 0;
    height: 42px;
    overflow: hidden;
    color: #666
}
.menu-add li {
    position: relative
}
#navitems-2013 {
    width: 990px
}
#navitems-2013 .fore5 b,.menu-add li b {
    position: absolute;
    top: -11px;
    left: 60px;
    display: block;
    width: 23px;
    height: 24px;
    background: url(i/new.png) no-repeat
}
.menu-add li b {
    top: -1px;
    left: 43px
}
ul.brand li.brandnew .p-img {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 321px
}
.brand-wrap ul.pinpai li .p-img {
    padding: 0;
    text-align: center
}
ul.brand li.brandnew .left {
    width: 150px;
    text-align: center
}
ul.brand li.brandnew .right {
    width: 160px;
    height: 110px;
    text-align: center;
    padding-left: 10px;
    float: left;
    overflow: hidden;
    _margin-top: -10px;
    _height: 120px
}
ul.brand li.brandnew .p-price {
    margin: 0;
    height: 110px
}
.brandnew .right .zhe {
    font-size: 36px;
    font-family: verdana;
    color: #e3393c;
    font-weight: 700;
    height: 35px;
    line-height: 30px;
    padding-top: 20px;
    _padding-top: 30px;
    *zoom: 1
}
.brandnew .right .zhe span {
    font-size: 14px;
    font-family: microsoft yahei;
    color: #333;
    font-weight: 400
}
.brandnew .right .name {
    font-family: microsoft yahei;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
    width: 150px;
    text-align: center;
    color: #333
}
ul.brand li.brandnew .time {
    width: 321px;
    _bottom: -2px
}
ul.brand li.current .brandnew-time {
    _bottom: -2px;
    background: #e33b3d;
    z-index: 5;
    filter: none
}
#mscroll-list .brand li img {
    width: 251px;
    height: 167px
}
#mscroll .t-list {
    width: 980px;
    overflow: hidden;
    height: 276px
}
#mscroll .brand {
    margin: 0;
    height: 280px;
    overflow: hidden
}
.tuijian {
    width: 990px;
    margin: 0 auto 10px
}
.tjnomargin {
    margin: 0 0 10px
}
#mscroll-list {
    width: 988px;
    height: 276px;
    overflow: hidden;
    margin: 27px 31px 0
}
#mscroll-list .brand li {
    border: 0;
    border-right: 1px solid #d8d7d7;
    height: 280px;
    width: 329px;
    margin: 0;
    overflow: hidden;
    *zoom: 1
}
#mscroll-list .brand li .href-wrap {
    height: 280px;
    width: 328px
}
#mscroll-list .brand li .p-img {
    padding: 0;
    width: 251px;
    margin: 20px 40px 0;
    *margin: 0 40px;
    *padding: 20px 0 0
}
#mscroll-list .brand li .p-name {
    height: 40px;
    width: 251px;
    overflow: hidden;
    margin: 5px 40px 0;
    *zoom: 1
}
#mscroll-list .brand li .p-name a {
    height: 40px;
    overflow: hidden
}
#mscroll-list .brand li .p-price .size {
    font-size: 30px
}
#mscroll-list .brand li .p-price .block {
    font-size: 12px;
    margin-top: 3px
}
#mscroll-list .brand li .p-price {
    width: 251px;
    margin: 0 40px;
    _margin-top: -8px;
    _position: relative
}
#mscroll-list .brand li .p-price .left .block del {
    font-size: 12px;
    font-family: verdana
}
#mscroll-list .brand li .p-price .left {
    width: 144px;
    height: 40px;
    margin-top: 0
}
#mscroll-list .brand li .p-price .right {
    font-size: 12px;
    font-family: "\5b8b\4f53";
    width: 106px
}
#mscroll-list .brand li .p-price .right .col {
    font-size: 12px
}
#mscroll-list .brand li .p-price .right .fmv {
    font-family: verdana
}
.tscroll .ctrl,.bascroll .ctrl {
    width: 33px;
    height: 276px;
    z-index: 3;
    position: absolute;
    transition: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    background: #fff;
    display: block;
    cursor: pointer
}
.tscroll {
    position: relative;
    border: 1px solid #dad9d9;
    border-top: 2px solid #bfbfbf;
    width: 988px;
    margin: 0 auto;
    height: 260px;
    overflow: hidden;
    background: #fff
}
#mscroll-ctrl-prev,.bascroll .left {
    left: 0
}
#mscroll-ctrl-next,.bascroll .right {
    right: 0
}
#mscroll .ctrl b,.bascroll .ctrl b {
    display: block;
    margin: 120px auto 0;
    z-index: 3;
    width: 25px;
    height: 33px;
    background-image: url(http: //misc.360buyimg.com/product/skin/2013/i/20130330B_1.png);
    background-repeat: no-repeat
}
#mscroll-list ul.brand li {
    z-index: 2
}
#mscroll #mscroll-ctrl-prev b,.bascroll .left b {
    background-position: -85px -45px
}
#mscroll #mscroll-ctrl-next b,.bascroll .right b {
    background-position: -55px -45px
}
#mscroll #mscroll-ctrl-prev: hover b,.bascroll .left: hover b {
    background: url(http: //misc.360buyimg.com/product/skin/2013/i/15.png) no-repeat 0 0
}
#mscroll #mscroll-ctrl-next: hover b,.bascroll .right: hover b {
    background: url(http: //misc.360buyimg.com/product/skin/2013/i/15.png) no-repeat 0 -37px
}
#mscroll .ctrl: hover,.bascroll .ctrl: hover {
    background-color: #F5F5F5
}
.tuijian h2.sort {
    border-bottom: 0;
    margin: 0 auto;
    padding: 0 0 10px;
    position: relative;
    *zoom: 1;
    height: 30px;
    font-size: 18px;
    font-family: microsoft yahei
}
.root61 .tuijian h2.sort {
    padding-top: 0
}
.tuijian .fenlei {
    color: #e3393c;
    position: absolute;
    top: 4px;
    _top: 3px;
    left: 0
}
.tuijian .fenlei: hover {
    color: #e3393c
}
.tuijian .sort .p-extra {
    position: absolute;
    top: 6px;
    _top: 0;
    right: 0
}
.content .tuijian .sort .p-extra a {
    color: #333;
    padding-left: 10px;
    font-family: "\5b8b\4f53"
}
.content .tuijian .sort .p-extra a: hover {
    color: #E4393C
}
.tuijian .sort .p-extra strong {
    font-weight: 400;
    color: #333;
    font-family: "\5b8b\4f53"
}
#team_main_side #detail {
    height: auto
}
h2.sort {
    height: 38px;
    line-height: 38px
}
.content-wrap {
    margin-bottom: 10px
}
.p-list table td .empty {
    border: 0
}
.root61 #service dl {
    width: 188px
}
ul.brand li.brandnew {
    height: 325px
}
.brand li .p-name .hrefname,.item-wrap .item .p-name .hrefname,.p-name .title-txt .hrefname {
    position: relative;
    z-index: 6
}
.hrefname: hover {
    text-decoration: none
}
.item-wrap .item .p-name .hrefname: hover,.p-name .title-txt .hrefname: hover {
    color: #666
}
.brand-sink div.p-price b {
    display: block;
    width: 60px;
    text-align: center;
    font-family: verdana;
    font-weight: 700;
    font-size: 30px
}
.brand-sink div.smallprice b {
    font-size: 15px;
    position: absolute;
    top: 1px;
    left: 9px
}
.brand-sink div.smallprice20 b {
    font-size: 20px;
    position: absolute;
    top: 1px;
    left: 9px
}
.brand-sink div.smallprice span {
    top: 1px
}
.brand-sink div.smallprice20 span {
    top: 2px
}
#product-detail #detail-1 .w1 img {
    width: auto
}
.help {
    background: #fc0;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 10px;
    cursor: pointer
}
.jifen-tips {
    position: absolute;
    background: #fff;
    line-height: 20px;
    z-index: 5;
    width: 240px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #eee,-2px -2px 2px #eee,2px -2px 2px #eee,-2px 2px 2px #eee;
    padding: 5px;
    *zoom: 1;
    font-size: 12px;
    color: #666;
    font-weight: 400;
    top: 41px;
    left: 84px
}
.ordertips .jifen-tips {
    top: 20px;
    left: 49px
}
.done-tips .jifen-tips {
    top: 20px;
    left: -170px
}
.posr {
    position: relative;
    display: inline-block
}
.nav-menulist .posr b,#navitems-2013 li.fore3 b {
    display: block;
    position: absolute;
    width: 53px;
    height: 21px;
    left: 67px;
    top: -10px;
    z-index: 5
}
#navitems-2013 li.fore3 {
    z-index: 3
}
.nav-menulist .posr b {
    top: 1px;
    left: 60px
}
.brand-sink div.p-extra p {
    line-height: 29px
}
ul.brand li.fore1 .fivenum,ul.brand li.fore2 .fivenum {
    font-size: 33px
}
.banner-bg {
    _margin-top: -1px;
    *zoom: 1
}
.seller-banner {
    width: 100%;
    text-align: center;
    height: 250px
}
.seller-banner a {
    display: block;
    width: 990px;
    height: 250px;
    margin: 0 auto
}
.xd-tishi {
    vertical-align: top;
    margin-top: 9px;
    display: inline-block
}
#navitems-2013 .sx {
    width: 174px;
    *zoom: 1
}
#navitems-2013 .sx a {
    text-indent: -9999em;
    width: 174px;
    display: inline-block;
    background-position: 0 -615px
}
#navitems-2013 .sx a: hover {
    background-position: 0 -565px
}
#navitems-2013 .sx.curr a {
    background-position: 0 -565px
}
ul.brand li.fore1 .p-price,ul.brand li.fore2 .p-price {
    background-position: 0 -666px;
    background-color: #f9f9f9
}
ul.brand li.brandnew .right {
    background-position: -235px -431px
}
ul.brand li img {
    width: 321px;
    height: 325px
}
ul.brand li.fore1 img,ul.brand li.fore2 img {
    margin: 0;
    width: 488px;
    height: 226px
}
ul.brand li.fore1 .p-img img,ul.brand li.fore2 .p-img img {
    width: 340px;
    height: 226px
}
ul.brand li.fore3 .p-img img,ul.brand li.fore4 .p-img img,ul.brand li.fore5 .p-img img {
    width: 277px;
    height: 185px
}
ul.brand li.fore1 .p-name img,ul.brand li.fore2 .p-name img {
    width: 90px;
    height: 90px;
    *zoom: 1
}
.brand-wrap ul.brand li .p-img img {
    width: 277px;
    height: 185px
}
ul.brand li.brandnew .brandl img {
    width: 90px;
    height: 90px
}
ul.brand li.brandnew .p-img img {
    width: 321px;
    height: 215px;
    margin: 0
}
ul.brand li.fore1 .p-name img,ul.brand li.fore2 .p-name img {
    width: 90px;
    height: 90px;
    *zoom: 1
}
.thickcon {
    overflow: hidden
}
.jbox {
    margin: 50px 60px 30px;
    font-family: microsoft yahei;
    padding-left: 70px;
    font-size: 16px;
    line-height: 46px;
    font-weight: 700;
    color: #333;
    background: url(i/jbox-bg.jpg) no-repeat
}
.jbox-abg {
    background: url(i/jbox-bg.jpg) no-repeat
}
.jbox-left {
    background: url(i/jbox-bg.jpg) no-repeat
}
.jbox1 {
    background-position: 0 -90px;
    margin: 50px auto 0;
    width: 430px
}
.jbox a.jbox-href: hover {
    color: #00599f
}
.jbox7 {
    background: 0 0
}
.jbox7 a.jbox-href {
    margin: 3px 0
}
.jbox7 .scode {
    overflow: hidden
}
.jbox7 .scode input {
    float: left;
    width: 112px;
    padding: 0 5px;
    margin-right: 10px
}
.jbox7 .scode img {
    cursor: pointer
}
.jbox7 .goods {
    margin: 5px 0
}
.jbox a.jbox-href {
    color: #00599f
}
.jbox2 {
    background-position: 0 -152px
}
.jbox3 {
    background-position: 0 -40px;
    width: 135px;
    margin: 50px auto 0
}
.jbox3 {
    padding-left: 55px;
    line-height: 33px
}
.jbox4 {
    padding-left: 50px;
    margin: 20px 30px 0;
    line-height: 20px
}
.jbox6 {
    padding-left: 50px;
    margin: 20px 30px 0;
    line-height: 20px
}
.jbox7 {
    padding-left: 50px;
    margin: 20px 30px 0;
    line-height: 20px
}
.jbox4 .jbox-left {
    background-position: 0 -40px;
    width: 60px;
    height: 40px;
    float: left
}
.jbox5 {
    padding-left: 50px;
    margin: 20px 30px 0;
    line-height: 20px
}
.jbox5 .jbox-left {
    background-position: 0 -152px;
    width: 60px;
    height: 46px;
    float: left
}
.jbox6 .jbox-left {
    background-position: 0 -90px;
    width: 60px;
    height: 46px;
    float: left
}
.jbox7 .jbox-left {
    background-position: 0 -90px;
    width: 60px;
    height: 46px;
    float: left
}
.jbox7 p.text-bold {
    font-weight: 700
}
.jbox7 p input {
    width: 190px;
    padding: 0 5px
}
.jbox6 .jbox-content,.jbox7 .jbox-content {
    padding-top: 7px
}
.jbox-content {
    float: left;
    padding-left: 5px
}
.jbox .gray-text {
    font-size: 12px;
    color: #999;
    font-family: "\5b8b\4f53";
    font-weight: 400
}
.gray-texttop {
    margin-top: 5px
}
.jbox .boxdate {
    color: #e5383e
}
.jbox .font12 {
    font-size: 12px;
    color: #666;
    font-family: "\5b8b\4f53";
    font-weight: 400
}
.jbox4 .jbox-href,.jbox5 .jbox-href {
    font-size: 12px;
    font-family: "\5b8b\4f53";
    font-weight: 400
}
.jbox6 .gray-text {
    font-weight: 700
}
.jbox .jbox-btn {
    background-image: -moz-linear-gradient(top,#f7f7f7,#f3f2f2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7f7f7),color-stop(1,#f3f2f2));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f2f2', GradientType='0');
    padding: 3px 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    font-weight: 400
}
.jbox .jbox-btn: hover {
    text-decoration: None;
    color: #000
}
.jbox input {
    border: 1px solid #ddd;
    background: #fff;
    height: 25px;
    line-height: 25px;
    width: 270px
}
.jbox .wenzi {
    color: #999;
    font-size: 12px;
    margin-left: 5px
}
.jbox8,.jbox9 {
    text-align: center;
    background: 0 0;
    font-size: 12px;
    color: #666;
    margin: 10px 0 0;
    padding: 0;
    line-height: 20px;
    font-family: "\5b8b\4f53";
    font-weight: 400
}
.jbox-form {
    margin: 20px 0 0 30px;
    clear: both;
    overflow: Hidden;
    text-align: left;
    _display: inline-block
}
.jbox7 .alert-text,.jbox8 .alert-text {
    height: 18px;
    clear: both;
    margin-left: 100px;
    color: #e4393c;
    _display: inline;
    font-size: 12px;
    font-family: "\5b8b\4f53";
    font-weight: 400;
    visibility: hidden
}
.jbox7 .alert-text {
    margin-left: 0;
    margin-bottom: 5px
}
.wrong-alert input {
    border: 1px solid #e4393c
}
.jbox-form label {
    width: 100px;
    text-align: right;
    display: block;
    float: left
}
.jbox-form label span {
    padding-right: 20px
}
.jbox-form .add {
    background-position: 0 -250px;
    display: block;
    width: 32px;
    height: 30px;
    float: left;
    text-indent: -9999px
}
.jbox-form .sub {
    background-position: 0 -2px;
    display: block;
    width: 32px;
    height: 30px;
    float: left;
    text-indent: -9999px
}
.jbox-form input {
    float: left;
    width: 185px
}
.input-short input {
    width: 130px
}
.jbox-form img {
    float: left;
    margin-left: 10px
}
.jbox7 a.mt3 {
    margin-top: 0;
    text-decoration: none
}
.jbox9 .jbox-btn,.jbox8 .jbox-btn {
    margin: 20px 0 0 130px
}
.jbox9-input {
    float: left
}
.jbox9-input div {
    margin-bottom: 10px;
    overflow: Hidden
}
.jbox9 .message {
    background: #fffdee;
    border: 1px solid #edd28b;
    text-align: left;
    padding: 10px 20px;
    margin: 20px 0
}
.jbox9 .input-short {
    margin-top: 0
}
.jbox8 .input-short {
    margin-top: 10px
}
.btn-wrap {
    text-align: left;
    clear: both
}
.jbox8 div.mt3 {
    margin-top: 3px
}
.jbox10 {
    width: 130px;
    text-align: center
}
.orderbtn {
    font-size: 12px;
    background-image: -moz-linear-gradient(top,#f9f7fa,#f2f1f6);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f7fc),color-stop(1,#f2f1f6));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f7fc', endColorstr='#f2f1f6', GradientType='0');
    _background: #f7f7f5;
    padding: 3px 15px;
    border-radius: 3px;
    color: #666;
    border: 1px solid #ccc;
    font-weight: 400;
    margin: 30px 0 0 173px;
    display: inline-block
}
.orderbtn: hover {
    text-decoration: None;
    color: #666
}
.orderbtn-box a {
    margin: 30px 20px 0 0
}
.jbox12-p {
    text-align: left;
    margin-left: 130px
}
.jbox13 {
    width: 250px
}
.jbox11 .jbox-content {
    margin-top: 10px
}
.jbox11 .orderbtn-box {
    margin-top: 20px
}
.jbox16 .orderbtn-box {
    text-align: center
}
.jbox5 .mt20 {
    margin-top: 10px
}
.today-new {
    margin-left: 10px;
    float: left;
    padding-top: 3px;
    *padding-top: 5px
}
.today-new input {
    *margin: -3px 0 0
}
.today-new span {
    vertical-align: top;
    *padding-top: 8px;
    _vertical-align: middle
}
.none-tuan {
    height: 50px;
    line-height: 50px;
    text-align: center
}
.zhao-ans {
    margin: 5px 0 10px
}
.zhao-ans .ftx02 {
    color: #1874BE;
    text-decoration: underline
}
.jbox7 {
    position: relative
}
.orderbtn-box .orderbtn: hover {
    color: #666;
    text-decoration: none
}
.loading {
    font-size: 14px;
    color: #333;
    font-family: microsoft yahei;
    background: url(http: //misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) no-repeat 50px 0;
    margin: 160px 0 0 125px;
    padding-top: 30px;
    text-align: left
}
.jbox18 .jbox-href {
    margin-right: 10px;
    padding-top: 10px
}
.jbox18 p {
    margin-bottom: 5px
}
.jbox18 {
    margin: 20px 0 0
}